# Phase 10 Score Tracker

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Setup

### Register players

In [170]:
def register_players():

    num_players = int(input("How many players are playing? "))
    players = [input(f'Who is player {player+1}?') for player in range(0,num_players)]
    return players

In [171]:
players = register_players()
players

['M', 'C']

### Create Scoreboard

In [172]:
def setup_game():

    players = register_players()
    score_board = pd.DataFrame(columns=players)
    phase_board = pd.DataFrame(columns=['Players','Phase'])
    phase_board['Players'] = players
    phase_board['Phase'] = 1
    return score_board, phase_board, players

In [173]:
score_board, phase_board, players = setup_game()
display(score_board)
display(phase_board)

Empty DataFrame
Columns: [iii, ddd]
Index: []

  Players  Phase
0     iii      1
1     ddd      1

# Each round

### Track points

In [174]:
def log_phase(players, phase_board):

    for player in players:
        player_no = players.index(player)
        current_phase = phase_board.iloc[[player_no], [1]].values[0][0]
        advanced_bool = input(f'Did {player} finish phase {current_phase}?')
        if advanced_bool.upper() == 'Y':
            phase_board.iloc[[player_no], [1]] += 1

    return phase_board

In [175]:
log_phase(players, phase_board)

  Players  Phase
0     iii      2
1     ddd      1

In [176]:
def log_scores(players, score_board):
    '''
    This function collects the value of the remaining cards and computes
    the scores
    '''
    point_rules = {
        'cards_1_9': 5,
        'cards_10_12': 10,
        'cards_stop': 15,
        'cards_joker': 20
    }
    final_scores = {}

    for player in players:
        card_values = {}
        card_values['cards_1_9'] = int(input(f'How many cards betweeen 1 and 9 does {player} have?'))
        card_values['cards_10_12'] = int(input(f'How many cards between 10 and 12 does {player} have?'))
        card_values['cards_stop'] = int(input(f'How many ! cards does {player} have?'))
        card_values['cards_joker'] = int(input(f'How many jokers does {player} have?'))
        final_score = sum(point_rules[k]*card_values[k] for k in point_rules)
        final_scores[player] = final_score

    scores = pd.DataFrame([final_scores])
    score_board = pd.concat([score_board, scores], ignore_index=True)
    return score_board

In [177]:
def end_of_round(players, phase_board, score_board):
    phase_board = log_phase(players, phase_board)
    score_board = log_scores(players, score_board)
    return phase_board, score_board

### Append scores to score_board

In [179]:
# scores = pd.DataFrame([log_scores(players, score_board)])

# score_board = pd.concat([score_board, scores], ignore_index=True)
# score_board

## Play game

In [180]:
score_board, phase_board, players = setup_game()
display(score_board)
display(phase_board)

Empty DataFrame
Columns: [Mo, Cha]
Index: []

  Players  Phase
0      Mo      1
1     Cha      1

In [181]:
phase_board, score_board = end_of_round(players, phase_board, score_board)
display(score_board)
display(phase_board)

   Mo  Cha
0  90  225

  Players  Phase
0      Mo      2
1     Cha      2